@import "global.less";

.list {
  visibility: hidden;
  padding: 0;
  position: absolute;
  left: calc(50% - @list_width/2);
  top: calc(@list_width/2);
  width: @list_width;
  margin: 0;
  display: flex;
  flex-direction: column;
}