@font: 1rem;
@list_width: 10rem;
@font_fam: Rubik;

body{
  font-size: @font;
  font-family: @font_fam;
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
}

#list {
  visibility: hidden;
  padding: 0;
  position: absolute;
  left: calc(50% - @list_width/2);
  top: 20%;
  //padding-left: @list_width;
  width: @list_width;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#list li{
  cursor: pointer;
  width: auto;
}

#user_action{
  visibility: hidden;
  display: flex;
  flex-direction: row;
}