@font: 1rem;
@list_width: 10rem;
@font_fam: Rubik;

body{
  font-size: @font;
  font-family: @font_fam;
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

#name::placeholder, #email::placeholder, #bd::placeholder,
#role::placeholder, #status::placeholder, #friends::placeholder{
  color: black;
}

#email:hover, #name:hover, #bd:hover, #close_info:hover, #save_changes:hover,
#friends:hover, #news:hover, #next:hover, #prev:hover, .list li:hover, #img:hover{
  transform: scale(1.1);
  transition: 0.2s linear;
}