@import "global.less";

#close_info{
  position: fixed;
  right: @font;
  top: @font;
  text-align: center;
  border: none;
  background-color: pink;
  cursor: pointer;
  border-radius: calc(@font/2);
  font-size: @font;
}