doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='initial-scale=1, width=device-width')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap')
  link(rel='stylesheet' href='./build/css/global.css')
  script(src="./pug/jquery.js")
ol(id=("list"))
  .user1
    #info1 Nick
    #link1 !
button#button(onclick="f()")
script(src="../js/client.js")
